tests/org.jboss.tools.ws.ui.test/resources/jbide6593/original.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservices.www.ecubicle.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jb="http://test.jboss.org/ns"
	targetNamespace="http://webservices.www.ecubicle.net/" name="GsearchRssSoap">
	<import namespace="http://www.ecubicle.net/webservices" location="imported.wsdl" />
	<types>
		<xsd:schema elementFormDefault='qualified' targetNamespace='http://test.jboss.org/ns' version='1.0' xmlns:tns='http://test.jboss.org/ns'>
			<xsd:element name="echo" type="tns:echo" />
			<xsd:element name="echoResponse" type="tns:echoResponse" />
			<xsd:complexType name="echo">
				<xsd:sequence>
					<xsd:element name="p" type="tns:person" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="person">
				<xsd:sequence>
					<xsd:element name="age" type="xsd:int" />
					<xsd:element name="login" type="xsd:string" minOccurs="1" />
					<xsd:element name="male" type="xsd:boolean" />
					<xsd:element name="nicks" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="2" />
					<xsd:element name="tax" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="echoResponse">
				<xsd:sequence>
					<xsd:element name="return" type="tns:person" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="echo">
		<part name="parameters" element="jb:echo" />
	</message>
	<message name="echoResponse">
		<part name="parameters" element="jb:echoResponse" />
	</message>
	<portType name="EchoPortType">
		<operation name="echo">
			<input message="tns:echo" />
			<output message="tns:echoResponse" />
		</operation>
	</portType>
	<binding xmlns:ns1="http://www.ecubicle.net/webservices" name="gsearch_rssSoap" type="ns1:gsearch_rssSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="GetSearchResults">
			<soap:operation soapAction="http://www.ecubicle.net/webservices/GetSearchResults" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<binding name="EchoPortBinding" type="tns:EchoPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="echo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="gsearch_rss">
		<port name="gsearch_rssSoap" binding="tns:gsearch_rssSoap">
			<soap:address location="http://www.ecubicle.net/gsearch_rss.asmx" />
		</port>
	</service>
	<service name="EchoService">
		<port name="EchoPort" binding="tns:EchoPortBinding">
			<soap:address location="http://localhost:8080/webws/EchoPortType" />
		</port>
	</service>
</definitions>