tests/org.jboss.tools.ws.ui.test/resources/soap12/EnumTest.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<xs:schema xmlns:tns="http://enumtest/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://enumtest/">

    <xs:element name="hello" type="tns:hello" />

    <xs:element name="helloResponse" type="tns:helloResponse" />

    <xs:complexType name="hello">
        <xs:sequence>
            <xs:element name="arg0" type="tns:someType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="someType">
        <xs:sequence>
            <xs:element name="en" type="tns:someEnum" />
            <xs:element name="email" type="tns:email" />
            <xs:element name="choice" type="tns:someChoice" />
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="helloResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:someType" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="someEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CZ" />
            <xs:enumeration value="UK" />
            <xs:enumeration value="US" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="someChoice">
    	<xs:choice>
    		<xs:element name="optionA" type="xs:string"></xs:element>
    		<xs:element name="optionB" type="xs:string"></xs:element>
    	</xs:choice>
    </xs:complexType>
</xs:schema>