tests/org.jboss.tools.ws.ui.test/resources/jbds1602/StockQuoteService.wsdl

<definitions name="StockQuoteService" targetNamespace="http://www.jboss.com/webservices/StockQuoteService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.jboss.com/webservices/StockQuoteService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="http://www.jboss.com/webservices/StockQuoteService" version="1.0" xmlns:tns="http://www.jboss.com/webservices/StockQuoteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="getStockQuoteBySymbol" type="tns:getStockQuoteBySymbol"/>
   <xs:element name="getStockQuoteBySymbolResponse" type="tns:getStockQuoteBySymbolResponse"/>
   <xs:complexType name="getStockQuoteBySymbol">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getStockQuoteBySymbolResponse">
    <xs:sequence>
     <xs:element name="return" type="xs:float"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name="StockQuoteService_getStockQuoteBySymbol">
  <part element="tns:getStockQuoteBySymbol" name="getStockQuoteBySymbol"/>
 </message>
 <message name="StockQuoteService_getStockQuoteBySymbolResponse">
  <part element="tns:getStockQuoteBySymbolResponse" name="getStockQuoteBySymbolResponse"/>
 </message>
 <portType name="StockQuoteService">
  <operation name="getStockQuoteBySymbol" parameterOrder="getStockQuoteBySymbol">
   <input message="tns:StockQuoteService_getStockQuoteBySymbol"/>
   <output message="tns:StockQuoteService_getStockQuoteBySymbolResponse"/>
  </operation>
 </portType>
 <binding name="StockQuoteServiceBinding" type="tns:StockQuoteService">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getStockQuoteBySymbol">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="StockQuoteService">
  <port binding="tns:StockQuoteServiceBinding" name="StockQuoteServicePort">
   <soap:address location="http://localhost:8080/SimpleWSWAR/StockQuoteService"/>
  </port>
 </service>
</definitions>