tests/org.jboss.tools.ws.ui.test/resources/jbide6694.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test.jboss.org/ns" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test.jboss.org/ns" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://test.jboss.org/ns">
      <s:element name="ChangeUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromUnit" type="tns:Units" />
            <s:element minOccurs="1" maxOccurs="1" name="toUnit" type="tns:Units" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Units">
        <s:restriction base="s:string">
          <s:enumeration value="kilometer" />
          <s:enumeration value="meter" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeUnitIn">
    <wsdl:part name="parameters" element="tns:ChangeUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeUnitOut">
    <wsdl:part name="parameters" element="tns:ChangeUnitResponse" />
  </wsdl:message>
  <wsdl:portType name="ConverterPortType">
    <wsdl:operation name="convert">
      <wsdl:input message="tns:ChangeUnitIn" />
      <wsdl:output message="tns:ChangeUnitOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConverterBinding" type="tns:ConverterPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="convert">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Converter">
    <wsdl:port name="ConverterPort" binding="tns:ConverterBinding">
      <soap:address location="" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>